# Clojure
.calva/
.clj-kondo/
.cpcache/
.lsp/
.nrepl-port

# Visual Studio Code
*.code-workspace

evolved-img-vids/
CA-NEAT_Evolved_Compositional_Pattern_Producing_Networks_for_Cellular_Automata_Morphogenesis_and_Replication.pdf
notes.txt